﻿body {
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 500px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width:70%
    }
}
html,
body{
    height: 100%;
}
header{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    background-size: cover;
}
.navbar {
    margin-bottom: 0px;
    /*padding: 30px 15px;*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-inverse .navbar-nav>li>a {
    color: #bbb;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
.fill-screen {
    background-size: cover;
    background-position: center;
}
.content-filler{
    min-height: 350px;
}
.fixed-bg{
    background-attachment: fixed;
}
@media (max-width:1024px){
    .fixed-bg{
        background-attachment: scroll;
    }
}
.fs-background-media {
    height: 0;
}
.text-banner {
    text-align: center;
    margin: 40px 20px
}
.text-banner h1 {
    font-size: 44px;
}
.text-banner p {
    font-size: 18px
}
.activity-section {
    margin: 50px;
}
.activity-element {
    text-align: center
}
.contact-us {
    margin: 50px;
    text-align: center;
}